<h2>Edit BookMark <i class="fa fa-pencil fa-2x"></i></h2>

<form action="/bookmark/<%= @bookmark.id %>" method="post">

<label>Title:</label>
<input type="text" name="title" value="<%= @bookmark.title %>">

<label class="add_url">URL:</label>
<input type="text" name="url" value="<%= @bookmark.url %>">

<select name="genre">
  <option value="Social">Social</option>
  <option value="News">News</option>
  <option value="Study">Study</option>
  <option value="Fun/Things to Do">Fun/Things to Do</option>
  <option value="Interesting">Interesting</option>
</select>

<label>Description :</label>
<input type="text" name="description" value="<%= @bookmark.description %>">

<br><br>

<input type="submit" value="Update BookMark">


</form>