<h1>Welcome to EleBookMarkz!</h1>

<p>EleBookMarkz is a place for you to store all the links to all your favourite websites! Be it news articles, social sites (i.e Facebook & Twitter) or just something you found kinda cool and wanna see again.<p>
<p> Why Elephants? Because elephants never forget! Who better to save things for you! (And they're cute!)</p>
<br>
<a href="/bookmark/new"> <input class="add_button" type="submit" value="Get Started"> </a>


