<!DOCTYPE html>
<html>
<head>
  <title>Sam's Bookmarks</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<h1>Book&Look Marks</h1>

<body>

<a href="/bookmark/new">Add a new BookMark</a>

<%= yield %>


</body>
</html>