<h2>Add a new BookMark</h2>

<form action="/bookmark" method="post">

<label>Title:</label>
<input type="text" name="title">

<select name="genre">
  <option value="Social">Social</option>
  <option value="News">News</option>
  <option value="Study">Study</option>
  <option value="Fun/Things to Do">Fun/Things to Do</option>
  <option value="Interesting">Interesting</option>
</select>

<label>Description :</label>
<input type="text" name="description">

<input type="submit" value="Add Bookmark">


</form>